*
{
    margin: 0;
    padding: 0;
}
header{
    background-color:dodgerblue;
    height: 112px;
    line-height:112px;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
header nav{
    float:right;
}
header nav ul li a
{
    padding: 30px;
    font-weight: bold;
    color: white;
    transition: all 0.5s ease-in;
}
header nav ul li a:hover{
    
    text-decoration: none;
    color:red;
}
header div h3{
    text-decoration-color: aqua;
}